@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

.chart-skills {
  position: relative;
  width: 150px;
  height: 85px;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 10px solid rgba(7, 89, 133);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills::after {
  content: '';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.uvStat {
  transform: translateX(-50%);
  transform: translateY(-50%);
}